---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include navigation.html %}
  	{{ content }}
  </body>
  <script>
          var map = new GMaps({
            el: '#map',
            lat: 37.548870,
            lng: 126.918351
          });

          map.addMarker({
            lat: 37.552303,
            lng: 126.914000,
            infoWindow: {
              content: '<p>빌리프 커피 로스터즈</p>'
            },
            click: function(e) {
              $("#cafe-name").text(data.belief.name);
              $("#cafe-address").text(data.belief.address);
              $("#cafe-time").html(data.belief.time.replace(/(?:\r\n|\r|\n)/g, '<br>'));
              $("#cafe-desc").html(data.belief.description.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            }
          });

          map.addMarker({
            lat: 37.546261,
            lng: 126.914429,
            infoWindow: {
              content: '<p>비포그레이</p>'
            },
            click: function(e) {
              $("#cafe-name").text(data.gray.name);
              $("#cafe-address").text(data.gray.address);
              $("#cafe-time").html(data.gray.time.replace(/(?:\r\n|\r|\n)/g, '<br>'));
              $("#cafe-desc").html(data.gray.description.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            }
          });

          map.addMarker({
            lat: 37.545837,
            lng: 126.921616,
            infoWindow: {
              content: '<p>이리카페</p>'
            },
            click: function(e) {
              $("#cafe-name").text(data.yri.name);
              $("#cafe-address").text(data.yri.address);
              $("#cafe-time").html(data.yri.time.replace(/(?:\r\n|\r|\n)/g, '<br>'));
              $("#cafe-desc").html(data.yri.description.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            }
          });

          map.addMarker({
            lat: 37.545495,
            lng: 126.925829,
            infoWindow: {
              content: '<p>조커커피</p>'
            },
            click: function(e) {
              $("#cafe-name").text(data.jocker.name);
              $("#cafe-address").text(data.jocker.address);
              $("#cafe-time").html(data.jocker.time.replace(/(?:\r\n|\r|\n)/g, '<br>'));
              $("#cafe-desc").html(data.jocker.description.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            }
          });

          map.addMarker({
            lat: 37.549511,
            lng: 126.921317,
            infoWindow: {
              content: '<p>aA 디자인 뮤지엄</p>'
            },
            click: function(e) {
              $("#cafe-name").text(data.aa.name);
              $("#cafe-address").text(data.aa.address);
              $("#cafe-time").html(data.aa.time.replace(/(?:\r\n|\r|\n)/g, '<br>'));
              $("#cafe-desc").html(data.aa.description.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            }
          });

          if ($("#cafe-address").text() === ""){
              $("#cafe-address").text('지도 위의 핀을 선택하시면 상세 정보를 보실 수 있습니다.')
          };
  </script>
</html>
